In [1]:
import numpy as np
import pandas as pd

terror=pd.read_csv("C:\\Users\\Sahil\\Downloads\\terrorismData.csv")


df=terror.copy()

In [6]:
country=df.describe(include='all')['Country'].loc['top']
count=df.describe(include='all')['Country'].loc['freq']
count

24636

In [16]:
df_country=df[df['Country']==country]
year=df_country['Year'].mode().iloc[0]
# print(year)
print(country +' '+ str(count)+ ' ' +str(year))

2014
Iraq 24636 2014

In [20]:
a=df['Country'].value_counts()
print(a)

# for i in a :
#     print (i)

Iraq                              24636
Pakistan                          14368
Afghanistan                       12731
India                             11960
Colombia                           8306
Philippines                        6908
Peru                               6096
El Salvador                        5320
United Kingdom                     5235
Turkey                             4292
Somalia                            4142
Nigeria                            3907
Thailand                           3849
Yemen                              3347
Spain                              3249
Sri Lanka                          3022
United States                      2836
Algeria                            2743
France                             2693
Egypt                              2479
Lebanon                            2478
Chile                              2365
Libya                              2249
West Bank and Gaza Strip           2227
Syria                              2201
Russia                             2194
Israel                             2183
Guatemala                          2050
South Africa                       2016
Nicaragua                          1970
                                  ...
Comoros                               5
Malawi                                5
Bahamas                               5
Grenada                               5
Western Sahara                        5
Montenegro                            5
People's Republic of the Congo        4
Solomon Islands                       4
Iceland                               4
Gambia                                3
French Polynesia                      3
Dominica                              3
Barbados                              3
Equatorial Guinea                     2
Seychelles                            2
Mauritius                             2
Turkmenistan                          2
South Yemen                           2
St. Kitts and Nevis                   2
Vanuatu                               2
Antigua and Barbuda                   1
Falkland Islands                      1
Wallis and Futuna                     1
International                         1
Vatican City                          1
North Korea                           1
Andorra                               1
St. Lucia                             1
South Vietnam                         1
New Hebrides                          1
Name: Country, Length: 205, dtype: int64