In [1]:
import numpy as np
import pandas as pd

terror=pd.read_csv("C:\\Users\\Sahil\\Downloads\\terrorismData.csv")


df=terror.copy()

In [26]:
df=df[df['Country']=='India']

In [27]:
df_3=df[df['Year']>2014]

In [28]:
df_2.shape

(297, 17)

In [51]:
# df_1=df[np.logical_and((df['Month']>5) , (df['Year']==2014))]
df_1=df[(df['Month']>5) & (df['Year']==2014)]

In [52]:
 df_1.shape

(446, 17)

In [31]:
df_2=df[np.logical_and(np.logical_and((df['Month']==5),(df['Year']==2014)),df['Day']>25)]

In [32]:
df_bjp=pd.concat([df_1,df_2,df_3] , ignore_index=True)

In [33]:
df_bjp.shape

(3336, 17)

In [50]:
df_bjp = df[(((df['Year'] >= 2014) & (df.Month >= 5) & (df.Day >= 26)) | 
                    ((df.Year >= 2014) & (df.Month >= 6)) | 
                    (df.Year > 2014))   
                   & (df.Country == 'India')]

In [49]:
df_bjp.describe()

,Year,Month,Day,Latitude,Longitude,Killed,Wounded
count,3336.000000,3336.000000,3336.000000,3332.000000,3332.000000,3230.000000,3157.000000
mean,2015.748201,6.784472,16.030576,24.652179,83.671530,0.499071,0.814697
std,1.021873,3.362195,8.877897,5.838827,6.753417,1.772043,2.482933
min,2014.000000,1.000000,1.000000,8.169375,68.968308,0.000000,0.000000
25%,2015.000000,4.000000,8.000000,19.723535,77.931272,0.000000,0.000000
50%,2016.000000,7.000000,16.000000,24.779988,82.482224,0.000000,0.000000
75%,2017.000000,10.000000,24.000000,27.024762,89.849400,1.000000,1.000000
max,2017.000000,12.000000,31.000000,34.655639,96.644737,42.000000,61.000000

In [43]:
count=len(df_bjp.index)

In [44]:
count

3336

In [35]:
df_bjp['Group'].value_counts()

Unknown                                                         1279
Maoists                                                          854
Communist Party of India - Maoist (CPI-Maoist)                   327
Hizbul Mujahideen (HM)                                            78
Lashkar-e-Taiba (LeT)                                             69
Gorkha Janmukti Morcha (GJM)                                      67
United Liberation Front of Assam (ULFA)                           66
Garo National Liberation Army                                     61
National Democratic Front of Bodoland (NDFB)                      45
National Socialist Council of Nagaland-Isak-Muivah (NSCN-IM)      43
National Socialist Council of Nagaland-Khaplang (NSCN-K)          40
People's Liberation Front of India                                35
People's Liberation Army (India)                                  33
Separatists                                                       21
Achik Songna An'pachakgipa Kotok (ASAK)                           17
United National Liberation Front (UNLF)                           14
Lashkar-e-Islam (India)                                           13
Jaish-e-Mohammad (JeM)                                            13
Zeliangrong United Front                                          11
Tehrik al-Mojahedin                                               11
Gorkha Liberation Army (GLA)                                       9
People's Revolutionary Party of Kangleipak (PREPAK)                9
National Liberation Front of Tripura (NLFT)                        9
Khasi Students Union                                               8
Tritiya Prastuti Committee (TPC)                                   8
Manipur Naga People's Army (MNPA)                                  7
Hindu extremists                                                   7
Khalistan Liberation Force                                         7
Students Islamic Movement of India (SIMI)                          6
A'chik Matgrik Elite Force (AMEF)                                  6
                                                                ...
United Karbi Liberation Army (UKLA)                                1
United Gorkha People's Organization (UGPO)                         1
Al-Umar Mujahideen                                                 1
Kuki Independent Organization (KIO/KIA)                            1
United Reformation Protest of India                                1
Liberal Democratic Council for Missing Land                        1
Kamtapur Liberation Organization (KLO)                             1
National Revolutionary Front of Manipur (NRFM)                     1
Thadou People's Liberation Army (TPLA)                             1
Lama Group                                                         1
Liberation of Achik Elite Force (LAEF)                             1
Bru National Liberation Front (BNLF)                               1
United Achik National Front (UANF)                                 1
Sanatan Sanstha                                                    1
Dima Hasao National Army                                           1
Jharkhand Kranti Raksha Dal (Utari Chotanagpur)                    1
Dashmesh Regiment                                                  1
Adivasi National Liberation Army (ANLA)                            1
National Socialist Council of Nagaland-Unification (NSCN-U)        1
Bangladesh Tiger Force                                             1
Right-wing extremists                                              1
Rabha National Security Force                                      1
Thanthai Periyar Dravidar Kazhagam (TPDK)                          1
Tribal Revolutionary Army (TRA)                                    1
Manipur Nationalist Revolutionary Party (MNRP)                     1
Jammu and Kashmir Islamic Front                                    1
Communist Party of India- Marxist                                  1
United Garo Security Force (UGSF)                                  1
Birsa Commando Force (BCF)                                         1
Tehrik-e-Hurriyat (TeH)                                            1
Name: Group, Length: 117, dtype: int64

In [36]:
df_bjp_group_known=df_bjp[df_bjp['Group']!='Unknown']

In [40]:
group_name=df_bjp_group_known['Group'].value_counts().index[0]

In [46]:
group_name

'Maoists'