In [2]:
import numpy as np
import pandas as pd
from numpy import logical_or
terror=pd.read_csv("C:\\Users\\Sahil\\Downloads\\terrorismData.csv")


df=terror.copy()

In [3]:
df_india=df[df['Country']=='India']
df_india.shape

(11960, 17)

In [4]:
min=df['Year'].min()

In [5]:
max=df['Year'].max()
print(max)

2017

In [6]:
total_yrs=max-min+1
print(total_yrs)

48

In [7]:
def f(s):
    return str(s)

In [11]:
df['Year']=df['Year'].apply(f)

In [14]:
total_yrs=df['Year'].describe().loc['unique']

In [15]:
# df_india['Killed'].fillna(0,inplace=True)
# df_india['Wounded'].fillna(0,inplace=True)

In [16]:
df_india['cas']=df_india['Killed']+df_india['Wounded']

C:\Users\Sahil\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [17]:
df_india.describe()

,Year,Month,Day,Latitude,Longitude,Killed,Wounded,cas
count,11960.000000,11960.000000,11960.000000,11801.000000,11801.000000,11740.000000,11506.000000,11490.000000
mean,2006.248411,6.439047,15.624415,25.947957,82.788312,1.647445,2.518686,4.099913
std,10.096520,3.323835,8.778965,5.674857,7.039908,4.681342,11.344047,14.401034
min,1972.000000,1.000000,0.000000,8.169375,68.775724,0.000000,0.000000,0.000000
25%,1999.000000,4.000000,8.000000,22.585272,75.341218,0.000000,0.000000,0.000000
50%,2010.000000,6.000000,15.000000,25.272700,81.866144,0.000000,0.000000,1.000000
75%,2014.000000,9.000000,23.000000,31.147131,88.352341,1.000000,1.000000,3.000000
max,2017.000000,12.000000,31.000000,34.655639,96.644737,188.000000,817.000000,1005.000000

In [18]:
df_india_jk=df_india[df_india['State']=='Jammu and Kashmir']
df_india_jk.shape
df_india_jk.describe()

,Year,Month,Day,Latitude,Longitude,Killed,Wounded,cas
count,2454.000000,2454.000000,2454.000000,2454.000000,2454.000000,2427.000000,2370.000000,2366.000000
mean,2004.678484,6.567237,15.625917,33.870649,74.917442,1.680676,3.615612,5.185123
std,9.140952,3.154301,8.803619,0.417383,0.552969,3.537779,8.354403,9.938179
min,1984.000000,1.000000,0.000000,32.371698,73.860665,0.000000,0.000000,0.000000
25%,1997.000000,4.000000,8.000000,33.732216,74.721870,0.000000,0.000000,0.000000
50%,2004.000000,7.000000,15.500000,34.010531,74.789902,0.000000,0.000000,1.000000
75%,2014.000000,9.000000,23.000000,34.083740,75.072066,2.000000,3.000000,6.000000
max,2017.000000,12.000000,31.000000,34.655639,78.656086,35.000000,100.000000,129.000000

In [24]:
df_india_red=df_india[(df_india['State']=='Jharkhand') | (df_india['State']=='Odisha') | (df_india['State']=='Andhra Pradesh') | (df_india['State']=='Chhattisgarh')]

In [25]:
df_india_red.shape
df_india_red.describe()

,Year,Month,Day,Latitude,Longitude,Killed,Wounded,cas
count,2545.000000,2545.000000,2545.000000,2545.000000,2545.000000,2500.000000,2450.000000,2446.000000
mean,2012.094303,6.531631,15.380354,20.561792,82.903770,1.210000,1.062449,2.227310
std,5.230135,3.434798,8.664561,2.479515,2.102370,3.898202,4.799340,7.198148
min,1979.000000,1.000000,0.000000,13.201381,77.281460,0.000000,0.000000,0.000000
25%,2010.000000,4.000000,8.000000,18.672255,81.255072,0.000000,0.000000,0.000000
50%,2013.000000,6.000000,15.000000,19.723535,82.222665,0.000000,0.000000,1.000000
75%,2016.000000,10.000000,23.000000,23.192002,84.658701,1.000000,0.000000,2.000000
max,2017.000000,12.000000,31.000000,25.030000,87.850064,82.000000,100.000000,140.000000

In [26]:
print(int(df_india_red['cas'].sum()//total_yrs),int(df_india_jk['cas'].sum()//total_yrs))

115 261