In [35]:
import mysql.connector

In [36]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="free1234",
  database='classicmodels'  
  #passwd="*E75E2A576177BA140498EB7479B76C4C36604346"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000000007A26160>

In [37]:
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM holdings")

myresult_hol = mycursor.fetchall()
print(type(myresult_hol))
# for x in myresult:
#   print(x)
print(myresult_hol)
print(type(myresult_hol[0]))

<class 'list'>
[(1, 'HDFC', 11), (2, 'AXIS', 12), (3, 'SBI', 13), (4, 'ICICI', 14), (5, 'KOTAK', 15), (6, 'PNB', 16)]
<class 'tuple'>

In [38]:
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM translation")

myresult_tra = mycursor.fetchall()
print(type(myresult_tra))
# for x in myresult:
#   print(x)
print(myresult_tra)

<class 'list'>
[('HDFC', 'hdfc bank'), ('AXIS', 'axis bank'), ('SBI', 'sbi bank'), ('ICICI', 'icici bank'), ('KOTAK', 'kotak bank'), ('PNB', 'pnb bank')]

In [39]:
dict={}
for i in myresult_tra:
    dict[i[0]]=i[1]

In [40]:
print(dict)

{'HDFC': 'hdfc bank', 'AXIS': 'axis bank', 'SBI': 'sbi bank', 'ICICI': 'icici bank', 'KOTAK': 'kotak bank', 'PNB': 'pnb bank'}

In [41]:
list_tup=list()
for item in myresult_hol:
    list_tup.append((item[0],dict.get(item[1]),item[2]))

In [42]:
list_tup

[(1, 'hdfc bank', 11),
 (2, 'axis bank', 12),
 (3, 'sbi bank', 13),
 (4, 'icici bank', 14),
 (5, 'kotak bank', 15),
 (6, 'pnb bank', 16)]

In [43]:
mycursor.execute("CREATE TABLE new_holdings (acc int, sec_nm VARCHAR(255), sec_id int)")

In [45]:

sql = "INSERT INTO new_holdings (acc , sec_nm , sec_id ) VALUES (%s,%s, %s)"

for ele in list_tup:
    val = ele
    mycursor.execute(sql, val)
    print(mycursor.rowcount, "record inserted.")
mydb.commit()

1 record inserted.
1 record inserted.
1 record inserted.
1 record inserted.
1 record inserted.
1 record inserted.

In [49]:
mycursor.close()
# mycursor.connection          # None
# mycursor.connection.close()  # throws AttributeError, but connection still open
del mycursor     
# mydb.close()

NameError: name 'mycursor' is not defined

In [50]:
mydb.close()

In [51]:
# mycursor.execute("CREATE TABLE new_holdings_2 (acc int, sec_nm VARCHAR(255), sec_id int)")

In [ ]:
from contextlib import closing
import MySQLdb

''' At the beginning you open a DB connection. Particular moment when
  you open connection depends from your approach:
  - it can be inside the same function where you work with cursors
  - in the class constructor
  - etc
'''
db = MySQLdb.connect("host", "user", "pass", "database")
with closing(db.cursor()) as cur:
    cur.execute("somestuff")
    results = cur.fetchall()
    # do stuff with results

    cur.execute("insert operation")
    # call commit if you do INSERT, UPDATE or DELETE operations
    db.commit()

    cur.execute("someotherstuff")
    results2 = cur.fetchone()
    # do stuff with results2

# at some point when you decided that you do not need
# the open connection anymore you close it
db.close()