In [3]:
import pandas as pd
import sqlite3
db=sqlite3.connect("IMDB.sqlite")
cur=db.cursor()

In [6]:
cur.execute("select count(*),genre from genre  group by genre having genre is not ''")
cur

In [7]:
ans=cur.fetchall()
ans

[(33, 'Action'),
 (43, 'Adventure'),
 (13, 'Animation'),
 (21, 'Biography'),
 (31, 'Comedy'),
 (11, 'Crime'),
 (77, 'Drama'),
 (3, 'Family'),
 (7, 'Fantasy'),
 (6, 'History'),
 (2, 'Horror'),
 (3, 'Music'),
 (1, 'Musical'),
 (7, 'Mystery'),
 (13, 'Romance'),
 (18, 'Sci-Fi'),
 (3, 'Sport'),
 (14, 'Thriller'),
 (2, 'War'),
 (2, 'Western')]

In [8]:
for i in range(len(ans)):
    print(ans[i][1],ans[i][0])

Action 33
Adventure 43
Animation 13
Biography 21
Comedy 31
Crime 11
Drama 77
Family 3
Fantasy 7
History 6
Horror 2
Music 3
Musical 1
Mystery 7
Romance 13
Sci-Fi 18
Sport 3
Thriller 14
War 2
Western 2