In [1]:
import sqlite3;

In [5]:
db=sqlite3.connect('employee.sqlite')

In [6]:
cur=db.cursor()

In [8]:
## Open and read data file as specified in the question
## Print the required output in given format
employee_id=[101,102,103,104,105,106,107,108,109,110,111,112,113]
name=['Aadarsh','Aarti','Siddharth','Aman','Amit','Shivansh','Vaibhav','Himanshu','Raman','Kunal','Adhira','Tanya']
age=[25,27,25,24,30,26,23,26,25,26,29,24]
department=['Marketing','Operations','Finance','Human Resource','Marketing','IT','Finance','IT','Operations','Marketing','Human Resource','Marketing']
salary=[50000,60000,85000,75000,50000,90000,85000,90000,60000,50000,75000,50000]

In [10]:
record=list()

In [12]:
for i in range(len(name)):
    record.append((employee_id[i],name[i],age[i],department[i],salary[i]))

In [13]:
record

[(101, 'Aadarsh', 25, 'Marketing', 50000),
 (102, 'Aarti', 27, 'Operations', 60000),
 (103, 'Siddharth', 25, 'Finance', 85000),
 (104, 'Aman', 24, 'Human Resource', 75000),
 (105, 'Amit', 30, 'Marketing', 50000),
 (106, 'Shivansh', 26, 'IT', 90000),
 (107, 'Vaibhav', 23, 'Finance', 85000),
 (108, 'Himanshu', 26, 'IT', 90000),
 (109, 'Raman', 25, 'Operations', 60000),
 (110, 'Kunal', 26, 'Marketing', 50000),
 (111, 'Adhira', 29, 'Human Resource', 75000),
 (112, 'Tanya', 24, 'Marketing', 50000)]

In [14]:
cur.executemany('insert into employee values(?,?,?,?,?)',record)
db.commit()

In [15]:
print("done")

done