In [1]:
import sqlite3

In [4]:
db=sqlite3.connect('IMDB.sqlite')
db

In [8]:
db=sqlite3.connect('School.sqlite')

In [9]:
cur=db.cursor()
cur

In [10]:
querry='Create table students (Rollnumber int primary key, name text, age int)'
cur.execute(querry)

In [11]:
cur.execute('insert into students values(101 , "sahil",21)')

In [21]:
db.commit();
db.close();

In [25]:
# db.commit();
db

In [44]:
db=sqlite3.connect('Employee.sqlite')
db

In [45]:
cur=db.cursor()
cur

In [30]:
querry='Create table Employee (Employeeid int primary key, name text, age int,department text,salary int)'
cur.execute(querry)

In [31]:
cur.execute('insert into employee values(100 , "Rishav",25,"Marketing",50000)')

In [32]:
cur.execute('insert into employee values(101 , "Abhishek",26,"Operations",60000)')
cur.execute('insert into employee values(102 , "Aman",24,"Human Resource",75000)')

In [34]:
db.commit();

In [46]:
cur.execute('delete from employee where employeeid =101')
db.commit();

In [49]:
cur.execute('delete from employee where employeeid=?',(102,))
db.commit();

In [36]:
db=sqlite3.connect('School.sqlite')

In [37]:
cur=db.cursor()
cur

In [40]:
name='manu'
age=27
id=105
values=[(106,'vanshu',26),(107,'vanshajmc',26)]


# cur.execute('insert into students values(? , ?, ?)',(id,name,age))
# db.commit();
cur.executemany('insert into students values(? , ?, ?)',values)
db.commit();

In [42]:
cur.execute('update  students set age=30 where name ="vanshajmc"')
db.commit()

In [43]:
cur.execute('update  students set age=? where name ="vanshu"',(age,))
db.commit()