In [2]:
from sklearn import model_selection
from sklearn import datasets

In [3]:
boston=datasets.load_boston()

In [4]:
print(type(boston))

<class 'sklearn.utils.Bunch'>

In [6]:
X=boston.data
X

Y=boston.target
Y
print(X.shape)

(506, 13)

In [36]:
import pandas as pd
df=pd.DataFrame(X,columns=boston.feature_names)
print(boston.feature_names)
df2=df.copy()
df2["age_age"]=df2.AGE**2
X2=df2.values

['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']

In [37]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.593761,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.596783,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.647423,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [41]:
X_train,X_test,Y_train,Y_test=model_selection.train_test_split(X,Y,random_state=0)
X2_train,X2_test,Y_train,Y_test=model_selection.train_test_split(X2,Y,random_state=0)

In [42]:
X_train.shape

(379, 13)

In [11]:
Y_train.shape

(379,)

In [12]:
from sklearn.linear_model import LinearRegression

In [43]:
alg1=LinearRegression()
alg2=LinearRegression()

In [14]:
print(type(alg1))

<class 'sklearn.linear_model.base.LinearRegression'>

In [44]:
alg1.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [46]:
alg2.fit(X2_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [17]:
alg1.score(X_train,Y_train)

0.7521234436261333

In [47]:
alg2.score(X2_train,Y_train)

0.7706930144759878

In [20]:
alg1.coef_

array([-1.19540824e-01,  4.52551064e-02,  1.26139921e-02,  2.65381207e+00,
       -1.71193882e+01,  3.47176826e+00, -6.87892016e-03, -1.50779964e+00,
        2.94808691e-01, -1.15422842e-02, -9.58313265e-01,  8.63404142e-03,
       -5.48233117e-01])

In [48]:
alg2.coef_

array([-1.20628712e-01,  4.15500931e-02, -1.83317155e-02,  2.43855564e+00,
       -1.64056971e+01,  3.72149154e+00, -6.07492932e-02, -1.44037886e+00,
        2.50382206e-01, -1.16867359e-02, -9.91065022e-01,  8.27497350e-03,
       -5.11694817e-01,  4.86923945e-04])